<phpunit bootstrap="./tests/bootstrap.php"
         colors="always"
         convertErrorsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="App test suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
